<div class="fh5co-entry padding">
    <img
        src="images/project-3.jpg"
        alt="Free HTML5 Bootstrap Template by FreeHTML5.co"
    />
    <div>
        <span class="fh5co-post-date">October 12, 2016</span>
        <h2>
            <a href="#">How to be an effective web developer</a>
        </h2>
        <p>How two simple exercises changed my life</p>
    </div>
</div>
